@media (min-width: 576px) {
    .search-icon{
        width: 45px;
        position: absolute;
        right: 45px;
        top: 0;
        bottom: 0;
        background-color: #ff4a52;
    }
    .search-icon a i{
        color: white!important;
    }
    .drop-down-menu{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 45px;
        background-color: #1ec6b6;
        z-index: 200;
        justify-content: center;
        align-items: center;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    nav li{
        display: inline-block;
    }
    .drop-down-menu{
        display: none!important;
    }
    .search-icon{
        right: 0;
    }
    footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .search-icon{
        width: 100px;
    }
    .search-bar{
        flex-direction: row;
        justify-content: center;
    }
    .search-form{
        flex-direction: row;
        justify-content: center;
    }
    .mail-form{
        flex-direction: row;
        display: block;
    }
    .newsletter-text{
        margin-right: 10px;
        margin-top: 0;
    }
    .newsletter-container{
        flex-direction: row;
        justify-content: space-around;
    }
}