*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvatica, SansSerif;
    font-size: 14px;
}
img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    transition: color 0.2s;
}
a:hover{
    color: #ff4a52;
}
li{
    list-style: none;
    cursor: pointer;
    transition: color 0.2s;
}
li:hover{
    color: #ff4a52;
}
ul{
    margin: 0;
    padding: 0;
}
.d-flex{
    display: flex!important;
}
.w-100{
    width: 100%!important;
}
.w-50{
    width: 50%!important;
}
.row{
    width: 100%;
    display: flex;
}
.font-15{
    font-size: 15px!important;
}
header{
    background-color: #ffffff;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;
}
nav li{
    display: none;
    margin-right: 35px;
    font-size: 1.3em;
    margin-top: 13px;
}
.search-icon{
    justify-content: center;
    align-items: center;
}

.search-icon a i{
    color: black;
}
.drop-down-menu a i{
    color: white;
}
.slider{
    background-image: url("../img/banner2.png");
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-text{
    justify-content: space-around;
    align-items: center;
    height: 45vw;
    flex-direction: column;
}
.slider-text h3{
    font-size: 9vw;
    font-family: "Nothing You Could Do", cursive;
    color: white;
    font-weight: 400;
    line-height: 10vw;
}
.slider-text p{
    font-size: 2vw;
    font-weight: 400;
    color: white;
}
.slider-btn{
    background-color: #1ec6b6;
    color: white;
    font-family: "Rubik",sans-serif;
    font-size: 1.7vw;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 1vw 1.5vw;
    transition: 0.3s;
}
.slider-btn:hover{
    background-color: #ff4a52;
    color: white!important;
}
.search-bar{
    background-color: #040e27;
    flex-direction: column;
    padding: 20px 25px;
    align-items: center;
}
.search-form{
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.search-bar h3{
     color: white;
    font-weight: 400;
    font-size: 20px;
}
input{
    width: 100%;
    background-color: transparent;
    border: 1px solid #363e52;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 17px 50px;
    color: white;
    outline: 0;
}
.search-btn{
    background-color: #ff4a52;
    color: white;
    padding: 17px 39px;
    font-family: "Rubik",sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #1ec6b6;
    color: white;
}
.popular-header{
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    text-align: center;
}
.popular-title{
    font-size: 38px;
    font-weight: 400;
    color: #040e27;
    margin: 10px;
}
.popular-description{
    font-size: 16px;
    color: #7a838b;
    line-height: 30px;
    font-weight: 400;
}
.popular-container{
    flex-wrap: wrap;
    justify-content: center;
}
article img{
    margin-bottom: 20px;
    height: 280px;
}
.popular-container article{
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.3s;
    position: relative;
}
.popular-container article:hover{
    transform: translateY(-10px);
}
.popular-container article::before{
    content: '';
    background: linear-gradient(to bottom,rgba(4,14,39,0) 0%,rgba(4,14,39,0.7) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92.6%;
    z-index: 1222;
    border-radius: 5px;
}
.popular-image-info{
    position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 1900;
}
.popular-image-info p{
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
    transition: 0.3s;
}
.popular-image-info a{
    background-color: #1ec6b6;
    font-size: 12px;
    border-radius: 30px;
    padding: 7px 12px;
    color: white;
    margin-left: 10px;
}
.popular-container article:hover .popular-image-info p{
    color: #ff4a52;
    transition: 0.3s;
}
.popular-container article:hover .popular-image-info a{
    color: #ffffff;
    transition: 0.3s;
    background-color: #ff4a52;
}
.newsletter{
    background-image: url("../img/newsletter.png");
    background-position: 65% 65%;
    background-size: cover;
    height: 250px;
    position: relative;
}
.newsletter-container{
    flex-direction: column;
    align-items: center;
    z-index: 400000;
}
.newsletter-text{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}
.newsletter::before{
    position: absolute;
    content: '';
    background-color: #040e27;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.newsletter-text h4{
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}
.newsletter-text p{
    font-size: 12px;
    font-weight: 400;
    color: #aab1b7;
    margin-bottom: 10px;
}
.mail-form{
    display: flex;
    flex-direction: column;
}
.mail-form input{
    width: 40vw;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    color: #040e27;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}
.newsletter-btn{
    background-color: #ff4a52;
    color: #ffffff;
    padding: 16px 10px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.video{
    background-image: url("../img/video.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    padding: 130px 0;
    margin: 15px 0;
    width: 100%;
    position: relative;
}
.video::before{
    position: absolute;
    content: '';
    background-color: #040e27;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.video-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;}

.video-container h3{
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-size: 7vw;
    color: white;
    margin-bottom: 3vw;
    z-index: 500;
}
.video-button{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #1ec6b6;
    transition: 0.5s;
    cursor: pointer;
    z-index: 500;
    justify-content: center;
    align-items: center;
}
.video-button:hover{
    background-color: #ff4a52;
}
.video-button a{
    color: white;
    font-size: 1vw;
}
footer{
    background-color: #040e27;
    padding: 60px 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.footer-info li{
    color: #aab1b7;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.footer-title{
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-family: "Rubik",sans-serif;

}
.links li{
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 35px;
}
.links li a{
    color: #aab1b7;
    font-weight: 400;
}
.left-footer{
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}
.right-footer{
    margin-left:auto;
    margin-right:auto;
}